.dog-photo {
    margin: 25px 25px 25px 0px;
    height: 200px;
    width: 150px;
    float:left;
    clear: left;
}

.banner-img{
    display: block;
    height: 400px;
    width: 800px;
    margin: auto;
    right: 0;
    left: 0;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-bottom: 20px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: bottom;
}
p.footer{
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    font-family: 8px;
    text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body{
    background-color:gray;
    margin-right: 150px;
    margin-left: 150px;
}
